<div>    
    <h1>Hello Beers !</h1>
    <img src="../images/beer.png" />
    <a href="/beers" class="btn">Check  the Beers!</a>
    <a href="/random-beer" class="btn">Check a Random Beer</a>
</div>

